<br/>
  <div class="row letra">
    <div class="col s12  l4  offset-l4">
      <div class="card white">
        <div class="card-content">
          <h4 class="card-title center-align">Iniciar Sesion</h4>
          <form >
            <div class="row">
              <div class="input-field col s12">
                <label for="email"><i class="material-icons left">email</i>Nombre Usario</label>
                <input id="email" type="email" class="validate" required>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="password"><i class="material-icons left">visibility_off</i>Contaseña</label>
                <input id="password" type="password" class="validate" required>
                <a routerLink="/#"><h6 class=" right-align" >Se olvidado contraseña?</h6></a>
              </div>
            </div>
          </form>
          <div class="row center-align">
            <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">near_me</i>Iniciar Sesion</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<br/>

