<br/>
<div class="row letra ">
    <div class = "col s12 l6 offset-l3">
      <div class="card white">
        <div class="card-content">
          <h4 class="card-title center-align">Registrase</h4>
          <form  >
            <div class="row">
              <div class="input-field col s6">
                <input id="Nombres" type="text" class="validate" required>
                <label for="Nombres">Nombres</label>
              </div>
              <div class="input-field col s6">
                <input id="Apellidos" type="text" class="validate" required>
                <label for="Apellidos">Apellidos</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input  id="Identificacion" type="text" class="validate" required>
                <label for="Identificacion"><i class="material-icons left">folder_shared</i>Identificacion</label>
              </div>
              <div class="input-field col s6">
                <input id= "Telefono" type="text" class="validate" required>
                <label for = "Telefono"><i class="material-icons left">local_phone</i>Telefono</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="Coreo"><i class="material-icons left">email</i>Correo</label>
                <input id="Coreo" type="email" class="validate" required>
              </div>
            </div>
            <div class="row">
              <div class="input-feld col s6">
                <input  id="Contraseña" type="password"  data-length="20" class="validate" required>
                <label for="password"><i class="material-icons left">visibility_off</i>Contaseña</label>
              </div>
              <div class="input-feld col s6">
                <label><i class="material-icons left">assignment</i>Usuario</label>
                <select>
                  <option value ="Administrador">Administrador</option>
                  <option value="Cliente">Cliente</option>
                </select>
              </div>
            </div>
          </form>
          <div class="row center-align">
            <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">near_me</i>Registrase</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<br/>
